name: Build OpenWrt Packages

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup nFPM
        run: |
          echo 'deb [trusted=yes] https://repo.goreleaser.com/apt/ /' | sudo tee /etc/apt/sources.list.d/goreleaser.list
          sudo apt-get update
          sudo apt-get install -y nfpm

      - name: Build IPK and APK
        run: |
          nfpm pkg --packager ipk
          nfpm pkg --packager apk

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: telemt-packages
          path: |
            *.ipk
            *.apk